@model IEnumerable<Customer>

<h1>Alle Kunden</h1>

<table>
	<tr>
		<th>Customer ID</th>
		<th>Firmenname</th>
		<th>Ansprechperson</th>
		<th>Land</th>
	</tr>
	@foreach (Customer c in Model)
	{
		<tr>
			<td>@c.CustomerId</td>
			<td>@c.CompanyName</td>
			<td>@c.ContactName</td>
			<td>@c.Country</td>
			<td>
				<a asp-action="KundeBearbeiten" asp-route-id="@c.CustomerId">
					<button>Kunde bearbeiten</button>
				</a>
			</td>
		</tr>
	}
</table>
