@model IEnumerable<Customer>

<h1>Alle Kunden</h1>

<form method="post" asp-action="CustomerByCountry">
	Land: <input type="text" asp-route="land" name="land"/>
	<br/>
	<button>Suchen</button>
</form>

<table>
	<tr>
		<th>Customer ID</th>
		<th>Firmenname</th>
		<th>Ansprechperson</th>
		<th>Land</th>
	</tr>
	@foreach (Customer c in Model)
	{
		<tr>
			<td>@c.CustomerId</td>
			<td>@c.CompanyName</td>
			<td>@c.ContactName</td>
			<td>@c.Country</td>
			<td>
				<a asp-action="BestellungenAnzeigen" asp-route-id="@c.CustomerId">
					<button>Bestellungen anzeigen</button>
				</a>
			</td>
		</tr>
	}
</table>
